* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 14px;
}

a {
  color: #f1f1f1;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

i {
  color: #009cff;
}

.container {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

h3 {
  font-size: 1.6em;
  font-weight: 400;
}

.bold {
  font-weight: 600;
}

/* HEADER */
header {
  height: 100px;
  background: #101010;
}
header .top_header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50%;
}
header .top_header .top_nav {
  margin-right: 15px;
}
header .top_header .top_nav ul li {
  margin-right: 15px;
}
header .top_header .top_nav ul li a {
  color: rgba(211, 211, 211, 0.5);
  transition: all 0.1s linear;
}
header .top_header .top_nav ul li a:hover {
  color: #f1f1f1;
  text-decoration: underline;
}
header .top_header .top_nav ul li a i {
  margin-right: 10px;
}
header .main_header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50%;
}
header .main_header img {
  margin-right: 40px;
  transform: scale(80%);
  align-self: flex-start;
  cursor: pointer;
}
header .main_header .main_nav {
  height: 100%;
  line-height: 50px;
}
header .main_header .main_nav ul li {
  position: relative;
  padding: 0 20px;
}
header .main_header .main_nav ul li:hover {
  background: #f1f1f1;
}
header .main_header .main_nav ul li:hover a {
  color: #101010;
}
header .main_header .main_nav ul li:hover i {
  color: gray;
}
header .main_header .main_nav ul li a i {
  color: rgba(211, 211, 211, 0.5);
  font-size: 0.8em;
  margin-left: 5px;
}
header .main_header .main_nav ul li .dropdown {
  position: absolute;
}

/* Jumbotron */
.jumbotron {
  width: 100%;
  height: 500px;
  background-image: url("https://www.painterartist.com/static/ptr/images/home/bg-painter-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -20px;
}
.jumbotron .container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-right: 600px;
  opacity: 0;
  -webkit-animation: fadeInText 1.5s ease-in 0.5s forwards;
          animation: fadeInText 1.5s ease-in 0.5s forwards;
}
@-webkit-keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.jumbotron .container img {
  width: 250px;
  margin-bottom: 30px;
}
.jumbotron .container h3 {
  margin-bottom: 50px;
}
.jumbotron .container p {
  color: #c70cb9;
  font-size: 1.2em;
  font-style: italic;
  margin-bottom: 5px;
}
.jumbotron .container .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.jumbotron .container .buttons .btn {
  font-size: 1.4em;
  padding: 10px 25px;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid #101010;
}
.jumbotron .container .buttons .btn.blk {
  background: #101010;
  color: #f1f1f1;
  margin-right: 20px;
}
.jumbotron .container .buttons .btn.blk:hover {
  opacity: 0.85;
}

footer .footer_top {
  padding: 50px 0 30px;
}
footer .footer_top .footer_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer_top .footer_nav .nav_box p {
  margin-bottom: 15px;
}
footer .footer_top .footer_nav .nav_box ul li {
  display: block;
  margin-bottom: 10px;
}
footer .footer_top .footer_nav .nav_box ul li a {
  font-size: 0.9em;
  color: gray;
}
footer .footer_top .footer_nav .nav_box ul li a:hover {
  color: #585858;
  text-decoration: underline;
}
footer .footer_top .social_box {
  text-align: right;
  margin-top: 20px;
}
footer .footer_top .social_box i {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 1.5em;
  color: #f1f1f1;
  margin-right: 5px;
}
footer .footer_top .social_box i.ig {
  background: #e4405f;
}
footer .footer_top .social_box i.fb {
  background: #3b5998;
}
footer .footer_top .social_box i.yt {
  background: #1da1f2;
}
footer .footer_top .social_box i.tw {
  background: #cd201f;
}
footer .footer_top .social_box i.pi {
  background: #bd081c;
}
footer .footer_top .social_box i.rss {
  background: #ff8d00;
}
footer .footer_bottom {
  background: #1e1e1e;
  padding: 10px 0 15px;
}
footer .footer_bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f1f1f1;
  font-size: 0.9em;
}
footer .footer_bottom .container .img_box img {
  margin-right: 20px;
}
footer .footer_bottom .container .bottom_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer_bottom .container .bottom_links ul li {
  margin-right: 15px;
}
footer .footer_bottom .container .bottom_links ul li a {
  color: gray;
}
footer .footer_bottom .container .bottom_links ul li a:hover {
  text-decoration: underline;
  color: #f1f1f1;
}
