<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Corel Digital & Photo Painting Software and Painter Apps</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="https://cdn.pixabay.com/photo/2016/03/31/19/58/avatar-1295430_1280.png" type="image/png">
    <!-- Link FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!-- Link foglio di stile personale -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">
        <!-- | HEADER | -->
        <header>
            <!-- Contenitore larghezza principale -->
            <div class="container">
                <!-- Header Top -->
                <div class="top_header">
                    <!-- + Header Top Nav -->
                    <nav class="top_nav">
                        <ul>
                            <li><a href="#"><i class="fas fa-phone-alt"></i>1-877-582-6735</a></li>
                            <li><a href="#"><i class="fas fa-comment-alt"></i>Chat</a></li>
                            <li><a href="#"><i class="fas fa-user"></i>Sign in</a></li>
                            <li><a href="#"><i class="fas fa-shopping-cart"></i>Cart</a></li>
                        </ul>
                    </nav>
                    <!-- Select lingue Header Top-->
                    <select name="language">
                        <option value="de">Deutsch</option>
                        <option value="en">English</option>
                        <option value="fr">Français</option>
                        <option value="jp">日本語</option>
                        <option value="tw">繁體中文</option>
                    </select>
                </div>
                <div class="main_header">
                    <!-- Logo Nav Bar -->
                    <img src="img/logo_painter.png" alt="Logo Painter">
                    <!-- + Main Nav -->
                    <nav class="main_nav">
                        <ul>
                            <li class="product">
                                <a href="#">Products<i class="fas fa-chevron-down"></i></a>
                                <!-- Dropdown Menu - Products -->
                                <ul class="products dropdown">
                                    <li>
                                        <a href="#">Digital Painting</a>
                                        <i class="fas fa-caret-right"></i>
                                    </li>
                                    <li class="edudrop">
                                        <a href="#">Licensing & Education</a>
                                        <i class="fas fa-caret-right"></i>
                                        <!-- Dropdown Menu - Education -->
                                        <ul class="edudrops dropdown2">
                                            <li><a href="#">Painter 2021 - Corporate License</a></li>
                                            <li><a href="#">Painter 2021 - Education License</a></li>
                                            <li><a href="#">Painter 2021 - Education Edition</a></li>
                                        </ul>
                                    </li>
                                    <li class="mobile">
                                        <a href="#">Mobile Apps</a>
                                        <i class="fas fa-caret-right"></i>
                                        <!-- Dropdown Menu - Mobile Apps -->
                                        <ul class="mobiles dropdown2">
                                            <li><a href="#">Painter Mobile (Android)</a></li>
                                            <li><a href="#">Paint it! Now (iPhone)</a></li>
                                            <li><a href="#">Paint it! Show (iPad)</a></li>
                                        </ul>
                                    </li>
                                    <li class="wacom">
                                        <a href="#">Wacom Tablets</a>
                                        <i class="fas fa-caret-right"></i>
                                        <!-- Dropdown Menu - Wacom -->
                                        <ul class="wacoms dropdown2">
                                            <li><a href="#">Wacom/Painter Offers</a></li>
                                            <li><a href="#">Cintiq Pro 16 + Painter 2021</a></li>
                                            <li><a href="#">Cintiq 22HD + Painter 2021</a></li>
                                            <li><a href="#">Intuos Pro Medium + Painter 2021</a></li>
                                            <li><a href="#">Intuos Pro Large + Painter 2021</a></li>
                                            <li><a href="#">Cintiq 16 Creative Pen Display + Painter 2021</a></li>
                                            <li><a href="#">One Creative Pen Display + Painter 2021</a></li>
                                            <li><a href="#">Bamboo Duo Stylus</a></li>
                                            <li><a href="#">Wacom Pro Pen 2 with Case</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="brush">
                                <a href="#">Brushes<i class="fas fa-chevron-down"></i></a>
                                <!-- Dropdown Menu - Brushes -->
                                <ul class="brushes dropdown">
                                    <li><a href="#">Painter</a></li>
                                    <li><a href="#">ParticleShop</a></li>
                                    <li><a href="#">Painter Essentials</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Wacom Tablets</a></li>
                            <li><a href="#">Special Offers</a></li>
                            <li><a href="#">Free Trials</a></li>
                            <li><a href="#">Business</a></li>
                            <li class="support">
                                <a href="#">Support<i class="fas fa-chevron-down"></i></a>
                                <!-- Dropdown Menu - Support -->
                                <ul class="supports dropdown">
                                    <li><a href="#">Patches & Updates</a></li>
                                    <li><a href="#">Knowledgebase</a></li>
                                    <li><a href="#">View all</a></li>
                                </ul>
                            </li>
                            <li class="learning">
                                <a href="#">Learning<i class="fas fa-chevron-down"></i></a>
                                <!-- Dropdown Menu - Learning -->
                                <ul class="learnings dropdown">
                                    <li><a href="#">Tutorials</a></li>
                                    <li><a href="#">Tips & Tricks</a></li>
                                    <li><a href="#">Artist Interviews</a></li>
                                    <li><a href="#">Webinar Library</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <!-- | JUMBOTRON | -->
        <section class="jumbotron">
            <div class="container">
                <img src="img/painter-2021-wm-black.png" alt="Logo Painter Jumbotron">
                <h3>The most realistic painting experience you'll find hard to resist</h3>
                <p class="bold">Limited-time offer</p>
                <p>Get Signature Style Brush Pack Bundle FREE (worth $179.99)</p>
                <div class="buttons">
                    <div class="btn blk">Learn More</div>
                    <div class="btn">Download Trial</div>
                </div>
            </div>
        </section>
    
        <!-- | MAIN | -->
        <main>
            <div class="container">

                <!-- + Sezione Painting possibilities -->
                <div class="painting">
                    <h2>More painting possibilities</h2>
                    <div class="box_painting">
                        <div class="box">
                            <img src="img/ptr-module.jpg" alt="Painter Essentials">
                            <div class="text">
                                <h4><span>New</span> Painter Essentials 8</h4>
                                <p>The best affordable painting software for beginners</p>
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                        <div class="box">
                            <img src="img/particleshop-module.jpg" alt="ParticleShop Module">
                            <div class="text">
                                <h4>ParticleShop</h4>
                                <p>Powerful Adobe® Photoshop® brush plugin powered by Painter</p>
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                        <div class="box">
                            <img src="img/brush-pack-module.jpg" alt="Brush Pack Module">
                            <div class="text">
                                <h4>Brush Packs</h4>
                                <p>Diverse add-on packs to embellish photo composites, graphic designs and paintings</p>
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- + Griglia immagini MAIN -->
                <div class="main_grid">
                    <!-- Riga Tablet Wacom -->
                    <div class="grid_row wacom">
                        <div class="txt box">
                            <h3>Wacom + Painter 2021</h3>
                            <p>Satisfy all your digital painting needs with the power and precision of these award-winning bundles.</p>
                            <a href="#" class="btn">Learn More</a>
                        </div>
                        <div class="images box">
                            <img src="img/wacom.png" alt="Wacom Tablet">
                        </div>
                    </div>
                    <!-- Riga Painter Masters -->
                    <div class="grid_row painter">
                        <div class="images box">
                        </div>
                        <div class="txt box">
                            <h3>Painter Masters</h3>
                            <p>Gain inspiration and knowledge from professional artists who have mastered Painter, and excel in their craft.</p>
                            <a href="#" class="btn">Learn More</a>
                        </div>
                    </div>
                    <!-- Riga Business & Education -->
                    <div class="grid_row business">
                        <div class="txt box">
                            <h3>Business & Education</h3>
                            <p>Save money on our award-winning painting software thanks to affordable and flexible licensing options.</p>
                            <a href="#" class="btn">Learn More</a>
                        </div>
                        <div class="images box">
                        </div>
                    </div>
                </div>
            </div>
        </main>
    
        <!-- | FOOTER | -->
        <footer>
            <div class="container">
                <div class="footer_top">
                    <div class="footer_nav">
                        <div class="nav_box">
                            <p>Products</p>
                            <ul>
                                <li v-for="element in productsFooter">
                                    <a href="#">{{element}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="nav_box">
                            <p>Quick Links</p>
                            <ul>
                                <li v-for="element in quickLinksFooter">
                                    <a href="#">{{element}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="nav_box">
                            <p>Support</p>
                            <ul>
                                <li v-for="element in supportFooter">
                                    <a href="#">{{element}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="nav_box">
                            <p>About Corel</p>
                            <ul>
                                <li v-for="element in aboutFooter">
                                    <a href="#">{{element}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="social_box">
                        <i class="fab fa-instagram ig"></i>
                        <i class="fab fa-facebook-f fb"></i>
                        <i class="fab fa-youtube yt"></i>
                        <i class="fab fa-twitter tw"></i>
                        <i class="fab fa-pinterest-p pi"></i>
                        <i class="fas fa-rss rss"></i>
                    </div>
                </div>
            </div>
            <div class="footer_bottom">
                <div class="container">
                    <div class="img_box">
                        <img src="img/corelAdvantage.png" alt="Corel Advantage">
                        <img src="img/logo-bbb.png" alt="BBB">
                        <img src="img/101.png" alt="Mcafee">
                    </div>
                    <div class="bottom_links">
                        <ul>
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Cookies</a></li>
                        </ul>
                        <p>Copyright © 2021 Corel Corporation. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- Link Script Javascript -->
    <script src="js/script.js" charset="utf-8"></script>
</body>
</html>