* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 14px;
}

a {
  color: $mainWhite;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

i {
  color: $iconsColor;
}

.container {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
