@mixin boxTest {
  border: 1px solid black;
}

@mixin flex($justify, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin smoothT($sec) {
  transition: all #{$sec} linear;
}

@mixin basicBtn {
  font-size: 1.4em;
  padding: 10px 25px;
  text-transform: uppercase;
  cursor: pointer;
}

@mixin bgImg($url) {
  background-image: url($url);
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
}
